.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /* background-image: url("../img/morning.png"); */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  border-top: 5px solid #383737;
  border-bottom: 1px solid #e8e5e5;
  min-height: 56px;

  /* Positioning context for the mobile navigation icon */
  position: relative;
  margin: 0;
  padding: 0;
}

.wrapper {
  /* max-width: 770px; */
  margin-left: 20%;
  margin-right: 20%;
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* padding-right: 30px; */
  /* padding-left: 30px; */


  /* background-color: purple; */
}

/* .clearfix {
  text-align: center;
} */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

.site-title {
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* font-size: 26px; */
  /* font-weight: 300; */
  line-height: 56px;
  letter-spacing: -1px;
  /* width: 30%; */
  /* margin: 0 35%; */
  margin-bottom: 0;
  float: left;
  color: #282727;
  margin-top: 0;

  /* margin-left: 35%; */
  /* margin-right: 35%; */
  /* text-align: center; */
  /* color: red; */
}

.site-nav {
  float: right;
  line-height: 56px;
}

.page-link {
  color: #111;
  line-height: 1.5;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-link:not(:last-child) {
  /* margin-right: 20px; */
  margin-right: 40px;
}

.select-border {
  border: 2px solid black;
  border-radius: 15px;
  padding: 7px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  height: 50px;
  width: 220px;
}

.dropbtn:hover, .order-button:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F1F1F1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.horizontal-direction {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  /* min-width: 40%; */
}

/* .dropdown-row {
  justify-content: space-between;
} */

/* .order-by-set {
  min-width: 30%;
} */

/* .order-by {
  padding-top: auto;
  padding-bottom: auto;
} */

.add-post {
  background-color: orange;
  /* border-bottom: 3px solid #eee; */
  /* color: #fff; */
  font-size: 10pt;
  /* margin: 15px auto 0; */
  margin-left: 2%;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  /* text-transform: uppercase; */
	display: block;
}

.all-posts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.post {
  width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
  cursor: pointer;
  /* border: 1px solid black;
  height: 100px; */
}

.post:hover {
  background: linear-gradient(red, yellow);
}

.page-post {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.post-title {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* font-size: 26px; */
  /* font-weight: 300; */
  line-height: 42px;
  /* letter-spacing: -1px; */
  margin-bottom: 0;
  text-align: center;
}

.post-category {
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 36px;
  margin-top: 1px;
  margin-bottom: 0;
  text-align: center;
}

.vote-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.style-info {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-body {
  /* margin-top: 20px; */
  border: 1px solid black;
  min-height: 100px;
  /* margin-bottom: 30px; */
  /* margin-bottom: 0; */
  /* margin-top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-width {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.edit-details {
  /* border: 1px solid black; */
  background: #42f48f;
  /* padding-left: 2%; */
  /* padding-right: 2%; */
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.edit-action {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}

.blue-button {
  background: #68e8d9;
}

.red-button {
  background: #e55b5b;
}

.comments-title {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.comment-button {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
  margin-top: 30px;
  background: linear-gradient(90deg, #43dcea, #ede66a);
  height: 40px;
}

.vote-display {
  /* #94e273 */
  width: 15%;
  background: linear-gradient(#ea4f44,#739ce2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.like-element {
  width: 40%;
  margin: 5px 30%;
  text-align: center;
}

button {
  cursor: pointer;
}

.sort-by {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* The following two classes are from the Udacity React & Redux course video for creating a modal */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.post-creation-container {
  height: 100%;
}

.post-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.category-radio-list {
  display: flex;
  flex-direction: row;
}

.radio-element {
  margin-left: 5%;
}

.subheader {
  font: 24px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 0px;
}

.post-input-short {
  width: 100%;
  height: 40px;
  font: 22px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  /* font-size: 26px; */
  /* font-weight: 300; */
  line-height: 56px;
  /* letter-spacing: -1px; */
}

.content-input {
  width: 100%;
  font: 18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

.modal-buttons-set {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  margin: 2px 10%;
}

.modal-button {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  height: 50px;
}

.modal-button:hover {
  background-color: #2980B9;
}

.post-info-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.middle-bar {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #b1c8d6;
}

.comment-body {
  margin-top: 5px;
}

.sort-option {
  cursor: pointer;
}
